package website

templ disclaimerSection() {
	<section class="disclaimer">
		<h2>Disclaimer</h2>
		<p>Fredb is still a personal project! As of writing, please do not rely on Fredb to:</p>
		<ul>
			<li>Store sensitive data</li>
			<li>Always be available</li>
		</ul>
		<p>As I'm working on this, your data could be lost at anytime.</p>
		<p>I don't want to be the reason why your demo stops working in front of the entire company. That being said, I'll be doing my absolute best not to be.</p>
	</section>
}
