package website

templ websiteIndex() {
	<html>
	@pageHead("Fredb")
	<body data-lang="curl">
		@topbar()
		<div class="shell">
			@siteNav("home")
			<div class="page">
				@heroCopy()
				@usageSection()
				@limitsSection()
				@disclaimerSection()
			</div>
		</div>
	</body>
	</html>
}
